body {
    font-family: Arial, sans-serif;
}

#search {
    margin: 20px;
    padding: 10px;
    width: 300px;
}

#categories {
    margin: 20px;
}

button {
    margin-right: 10px;
}

#emoji-list {
    display: flex;
    flex-wrap: wrap;
}

.emoji {
    margin: 10px;
    cursor: pointer;
    font-size: 2em;
}